.env
__pycache__/
.venv/
.pytest_cache/
*.zip
*.csv
temp_downloads/
*.log
logs/
!results/
!results/trino/
!results/trino/**
!results/comparison/
!results/comparison/**
.ipynb_checkpoints/
.aws_trino/
